.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.signInBtn {
  padding: 1.5rem 2rem;
  border: 1px solid #4a5568;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.signInBtn:focus {
  outline: none; 
  box-shadow: 0 0 0 2px #EAEBF7, 0 0 0px 3px #4A5568;
}

.btntext {
  font-size: 1rem;       
  font-weight: 500;      
  margin-left: 1rem;   
  color: #4A5568;  
  cursor: pointer;
}

.heading {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}